<main class="modal-films">
  <div class="modal-films__image">
    <img src="./assets/images/{{ film?.id }}.jpeg" alt="{{ film.name }}" />
  </div>
  <div class="modal-films__content-wrap">
    <h1 class="modal-films__title">{{ film?.name }}</h1>
    <div class="modal-films__description">
      <p>
        {{ genres }}
      </p>
      <p>
        {{ film?.year }}
      </p>
      <p>
        {{ film?.description }}
      </p>
    </div>
    <div mat-dialog-actions class="modal-films__action">

      <div *ngIf="favorite; then isFavorite; else noFavorite"></div>

      <ng-template #isFavorite>
        <button mat-button class="is-favorite" tabindex="-1" (click)="favoriteToggle()">
          Удалить из лучших фильмов
        </button>
      </ng-template>

      <ng-template #noFavorite>
        <button mat-button tabindex="-1" (click)="favoriteToggle()">
          Выбрать лучшим фильмом
        </button>
      </ng-template>

      <button mat-button mat-dialog-close tabindex="-1">Закрыть</button>
    </div>
  </div>
</main>
