<div class="filters">
  <h2>Популярные фильмы</h2>
  <div class="filters__wrap">
    <div class="filters__genre-wrap">

      <mat-form-field appearance="outline">
        <mat-label>Выберете жанр</mat-label>
        <mat-select [(ngModel)]="selectedValue">
          <mat-option>Все</mat-option>
          <mat-option *ngFor="let item of listGenres" [value]="item?.id">{{
            item?.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="filters__find-wrap">
      <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Введите название</mat-label>
        <input matInput type="text" value="" [(ngModel)]="filmName" />
      </mat-form-field>
    </div>

  </div>
</div>

<main class="card-wrapper">
  <app-card *ngFor="let card of arrayFilms | search : filmName | filter : selectedValue" [cardFilm]="card"
    [fullMode]="fullCardMode"></app-card>
</main>
